<section class="firstview">
  <div class="card top-content">
    <div class="card-body">
      <h3 class="card-title mb-4">Potepan Shareでまだ体験したことのない旅をしよう</h3>
      <div class="top-search">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :area, value: @area, class: 'form-control mb-4', placeholder: "東京" %>
          <%= f.submit "探す", class: 'btn btn-primary btn-block top-form-btn' %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="recommend">
  <div class="recommend-title">
    <h4 class="font-weight-bold">おすすめのエリア</h4>
  </div>
  <div class="recommend-area-container">
    <%= render partial: "shared/top_recommend", locals: { area: ["東京", "大阪", "京都", "札幌"], num: ["1", "2", "3", "4"] } %>

  </div>
</section>
