  <%= render "shared/sidebar" %>
<div class="col-md-10 ml-sm-auto col-lg-10 px-4">
<p>左にパーシャルで　<%= link_to "プロフィール", profile_users_path, class: "p-2 text-dark" %></p>
<h3>アカウント</h3>
<table class="table">
    <thead>
      <tr>
        <th>メールアドレス</th>
        <th>パスワード</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @user.email %></td>
          <td>**********</td>
        </tr>
    </tbody>
  </table>
  <%= link_to "編集", edit_user_registration_path %>
  </div>
    </div>
      </div>
