<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-12 col-md-2 d-md-block sidebar">
        <ul class="nav flex-lg-column flex-md-row text-right">
          <% @sidebar.zip(@sidebar_url,@current_item) do |s,su,c| %>
            <li class="sidebar-item">
              <%= link_to "#{s}", "/users/#{su}", class: "#{c}" %>
            </li>
          <% end %>
        </ul>
    </nav>
