<h3>予約詳細</h3>
<table>
    <tr>
      <th>予約したルーム名</th>
      <td><%= @reservation.room_name %></td>
    </tr>
    <tr>
      <th>価格</th>
      <td><%= @reservation.charge %></td>
    </tr>
  </table>
