<div class="room-index-container">
  <div class="row">
    <h3 class="col-12">検索結果： <%= Room.search(@area, @keyword).count %>件</h3>
    <% @rooms.each do |room| %>
      <%= render "shared/rooms_index_content", room: room %>
    <% end %>
  </div>
</div>
