// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.room-index-container {
  padding: 30px;
}

.index-room-img {
  height: 170px;
  object-fit: cover;
  overflow: hidden;
  object-position: 50% 50%;
}

.room-index-card {
  max-height: 300px;
  overflow: hidden;
}

.index-rate {
  display: block;
  align-content: flex-end;
  text-align: end;
}

.room-show-container {
  padding: 30px;
}
.room-show-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.room-show-detail {
  display: flex;
  flex-direction: row;
}
.room-show-detail-profile {
  display: flex;
  flex-direction: row;
}
.room-show-name {
  font-weight: bold;
  display: block;
}
.room-show-address {
  display: block;
}
.room-show-intro {
  display: block;
}
.room-show-nav {
  padding: 20px;
  border: 1px solid #eaedef;
}
