// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.room-index-container {
  padding: 30px;
}

.index-room-img {
  height: 170px;
  object-fit: cover;
  overflow: hidden;
  object-position: 50% 50%;
}

.room-index-card {
  max-height: 300px;
  overflow: hidden;
}

.index-rate {
  display: block;
  align-content: flex-end;
  text-align: end;
}

.room-show-container {
  padding: 30px;
}
.room-show-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.room-show-detail {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f0f0f0;
  height: 120px;
}
.room-show-detail .room-show-dateil-icon {
  padding: 20px;
}
.room-show-detail-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
}
.room-show-name, .room-show-address {
  font-size: 0.9em;
  display: block;
  height: 50%;
  padding: 20px;
}
.room-show-name {
  font-weight: bold;
  font-size: 1.1em;
}
.room-show-intro {
  display: block;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}
.room-show-nav {
  padding: 20px;
  border: 1px solid #eaedef;
}
.room-show-nav h5 {
  padding-bottom: 10px;
}
